@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans), ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.editable-cell mark {
  background: #fde047;
  color: inherit;
  padding: 0;
}

.menu-item {
  @apply w-full text-left px-4 py-2 rounded-lg hover:bg-gray-100;
}